<mat-toolbar>
  <span>Users management</span>
</mat-toolbar>

<!-- <div
  style="
    margin: auto;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
  "
>
  <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
</div> -->

<div *ngIf="true">
  <mat-grid-list cols="3" rowHeight="400">
    <div *ngFor="let user of users$ | async as users$">
      <mat-grid-tile (click)="navigateToUser(user.id)">
        <app-user-card [user]="user"></app-user-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <mat-paginator #paginator [pageSize]="6" length="12"></mat-paginator>
</div>
