<mat-toolbar>
  <button
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
    (click)="goBack()"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span>{{ user?.first_name + " " + user?.last_name }}</span>
</mat-toolbar>

<div *ngIf="isLoading" style="margin: auto; width: fit-content; margin: auto">
  <mat-spinner color="accent"></mat-spinner>
</div>

<div
  *ngIf="!isLoading"
  style="
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  "
>
  <img
    mat-card-image
    [src]="user?.avatar"
    alt="User avatar"
    style="
      max-height: 500px;
      max-width: 500px;
      border-radius: 50%;
      margin-bottom: 20px;
    "
  />

  <div
    style="
      display: flex;
      justify-content: center;
      flex-direction: column;

      align-items: center;
    "
  >
    <p><strong>ID:</strong> {{ user?.id }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
    <p><strong>Name:</strong> {{ user?.first_name }} {{ user?.last_name }}</p>
  </div>
</div>
