<mat-card  class="card">
  <img
    mat-card-image
    [src]="user.avatar"
    alt="User avatar"
    style="border-top-left-radius: 15px; border-top-right-radius: 15px"
  />
  <mat-card-content>
    <p style="margin: 0">
      <strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}
    </p>
    <p style="margin: 0"><strong>Email:</strong> {{ user.email }}</p>
    <p style="margin: 0"><strong>ID:</strong> {{ user.id }}</p>
  </mat-card-content>
</mat-card>
